h1 {
    color: #616161;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-color: #f0f0f0;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.interface {
    display: flex;
    height: min-content;
}

.svgDisplay {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
}

.button-container button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    display: block;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #4e4e4e;
    color: #242424;
    border-radius: 4px;
}

.button-container button:hover {
    background-color: #dadada;
}

.svgDisplay svg {
    width: 100%;
    height: auto;
    max-width: 500px;
    stroke-width: 1%;

}

.fraction-input p {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: #616161;
    margin: 0px;
}

.fraction-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
}

.fraction-input form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}

.fraction-input input {
    text-align: center;
    width: 12ch;
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.fraction-input button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #5e7ba3;
    border-radius: 4px;
    width: fit-content;
    background-color: #5c8ec4;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.fraction-input button:hover {
    background-color: #5783b1;
}

.fraction-input .line {
    border-top: 4px solid #535353;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

}

@media (max-width: 800px) {
    .interface {
        flex-direction: column;
        column-gap: 0px;
    }
}